<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS}-[%thread]-%level-%logger{36}:%msg%n</pattern>-->
            <pattern>%d [%thread] %-5level %logger{36} [%line] - %msg%n</pattern>
        </encoder>
    </appender>
    <property name="log.path" value="Slf4j/my.log"/>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} [%line] - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>